.show-card {
  border-bottom: 2px solid  #595959 ;
  display: flex;
  flex: flex-wrap;
}

p {
  margin: 20px; 
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

