.tracks-container {
  display: flex;
  height: 80%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-break:keep-all;
  margin-bottom: 25vh;
  text-align: center;
}

.show-info {
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.set-1, .set-2 {
  margin-bottom:  3%;
}

.set-3 {
  text-align: center;
}
