.dropdown-option {
  font-style: Arial;
  width: 100px;
  height: 50px;
}

.select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  padding: 0.5em 1.5em 0.5em 1.5em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 2px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}
