.navbar {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phish-in-link {
  display: flex;
  justify-content: center;
}

.phish-in-logo {
  width: 90%;
  margin: 0%;
}

.logo-mode-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mode {
  align-self: flex-end;
  margin: 3%;
}
