.footer {
  height: 25vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  text-align: center;
}

.track-info {
  display: flex;
  flex-direction: row;
  margin-bottom: -30px;
  justify-content: center;
  font-size: 10pt;
}

.venue-info {
  display: flex;
  flex-direction: row;
  margin-bottom: -8px;
  justify-content: center;
  font-size: 8pt;
}
