.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  height: 23vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  text-align: center;
}

.venue-title {
  font-size: 14pt;
  font-style: oblique;
}

.venue-text {
  margin: 0;
  width: 90%;
}

.audio-player {
  height: 25px;
  width: 90%;
  margin-top: 2.5%;
}
