body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f2f3f5; */
}

.root {
  height: 100vh;
  width: 100vw;
}

.phish-logo-loading {
  margin: 20%;
  height: 5rem;
  width: fit-content;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: logo-spin 8s linear infinite;
}

.card {
  width: 70vw;
  padding: 1%;
  margin-bottom: 7%;
  background-color: #d9dbdc;
  border-radius: 5px;
}

@keyframes logo-spin {
  0% {
    transform: translate(-50%, -50%) perspective(200px) rotateX(0deg)
      rotateY(0deg);
  }
  100% {
    transform: translate(-50%, -50%) perspective(200px) rotateX(0deg)
      rotateY(-360deg);
  }
}
